  .img-size{width: 70px;height: 70px}
  .logo{width: 60px; position: absolute;top:20px;left:320px}
 .bg-blue{ background-color:#0275D8}
 .bg-orange{background-color:#fd8b29 }
 h4{color:#0275D8;text-align: center}
 .h-3{height: 1rem}
 .bb{border-bottom: 5px solid #fd8b29}
 .bg {
     background-image: url(../img/city-3232488_1920e.jpg);
     height: 500px;
     background-repeat: no-repeat;
     background-size: cover;
     height: 800px

}
.layerb{background-color: rgba(255,165,0,0.2);}
.pt-12{padding-top: 20rem}
.f-banner{font-family: 'Bungee', cursive;}
h1-f{font-size: 3rem}
.f{font-family: 'Lancelot', cursive;}
 .navbar-dark .navbar-nav .nav-link {color: #fff;}
 .svg-inline--fa{color:#fd8b29}

/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {.img-size{width: 50px;height: 50px}.container-fluid{padding: 0} }

/*Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) {h1{font-size: 1.8rem}.img-size{width: 70px;height: 70px}}

